.face-detection-container {
  position: relative;
  width: 640px;
  height: 480px;
}

.face-detection-webcam {
  position: absolute;
  width: 640px;
  height: 480px;
}

.face-detection-canvas {
  position: absolute;
  width: 640px;
  height: 480px;
  z-index: 1;
}
